<!-- Divider -->
            <hr class="sidebar-divider">
<div class="sidebar-heading">
                Ma Collection
            </div>
<li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-archive"></i>
                    <span>Gérer</span></a>
                <a class="nav-link" href="index.html">
                    <i class="fas fa-book-medical"></i>
                    <span>Ajouter un livre</span></a>
</li>
