{% extends 'template.html.twig' %}

{% block PageTitle %}
    Ma collection
{% endblock %}

{% block PageContent %}
<div class="container-fluid justify-content-center">

    <div class="row ">

    {% for copy in copies %}
    <div class="col-3 pt-2 pb-2">
    {{ include('Fragments/Card/copyFullInfo.html.twig') }}
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}